* {
    box-sizing: border-box;
}

body {
    background:#594631;
    display: flex;
    margin: 0;
}

img {
    max-width: 100%;
}

/* :root {
    --animation-time: 6s;
} */

#container {
    position:absolute;
    background-image: url('mulch-dither.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    animation: bgchange 9s infinite;
}

@keyframes bgchange {
    0% {
        background-image: url('mulch-dither.png');
    }
    50% {
        background-image: url('mulch-2.png');
    }
    100% {
        background-image: url('mulch-dither.png');
    }
}

.mover {
    position: fixed;
    width: 120px;
    transition-property: all;
    /* animation: lrud var(--animation-time) linear alternate infinite; */
}

/* @keyframes lrud {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 100vw;
        top: 100vh;
    }
} */

#rand {
    top: 30%;
    /* animation-name: lrud;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
}

#cheese {
    top: 0;
}

#cuke {
    top: 70%;
    width: 180px;
}