* {
    box-sizing: border-box;
}

body {
    background:#b79274;
}

img {
    max-width: 100%;
}

p {
    max-width: 900px;
    background-color: blanchedalmond;
}

@media screen and (min-width:900px) {
    body {
        background-color: darkkhaki;
    }

    p {
        background-color: pink;
    }
}